html, body{
    margin: 0;
    padding: 0;
}

nav{
    margin: 30px;
    display: flex;
    justify-content: center;
}

.container{
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.nav-link{
   padding: 0 10px; 
}

.nav-link:nth-child(1){order: 2;}
.nav-link:nth-child(2){order: 5;}
.nav-link:nth-child(3){order: 6;}
.nav-link:nth-child(4){order: 1;}
.nav-link:nth-child(5){order: 4;}
.nav-link:nth-child(6){order: 3;}

.main-content{
    margin: 10px 30px;
}

.articles{
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

.box-1{
    flex: 1;
    background-color: orange;
}

.box-2{
    flex: 2;
    background-color: brown;
}

.box-3{
    flex: 1;
    background-color: rgb(102, 102, 228);
}

@media (min-width: 769px){
    .main-content{
        display: flex;
        flex-direction: column;
    }

    .box-1{
        background-color: blueviolet;
    }

}

@media (max-width: 1023px){
    .box-3{
        display: none;
    }
}